@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .hide-below-650vh {
    display: none;
  }
  .bg-image-homepage {
    background-size: 150% !important;
    margin-top: 5rem;
  }
  #pat-she {
    height: 12rem !important;
  }
  .invite-numbers {
    font-size: 10rem !important;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .bg-image-homepage {
    background-size: 80% !important;
  }
  .invite-numbers {
    font-size: 15rem !important;
  }
}

@media (max-height: 640px) {
  .show-below-650vh {
    display: block;
  }
}

.bg-image-homepage {
  background-image: url("/images/bgImage.jpg");
  background-position: right;
  background-size: 80%;
  opacity: 0.5;
  z-index: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0px;
}

.invite-numbers {
  -webkit-text-stroke-color: lightgray;
  -webkit-text-stroke-width: 1px;
  opacity: 7;
  font-size: 20rem;
}